<!DOCTYPE html>
<html lang="ru">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="shortcut icon" href="{% static 'image/logo.ico' %}" type="image/x-icon">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    
    <link href="{% static 'css/base/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base/animate.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    {% if not user.is_authenticated %}
      <script>
          window.location.replace("/auth/");
      </script>
    {% endif %}

    <script  src="{% static 'js/base/js.cookie.min.js' %}"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg animate__animated animate__fadeInDown mb-4 shadow-sm">
      <div class="vstack gap-2">

        <div class="container-fluid d-flex justify-content-between">

          <a href="/" class="mt-1"><img src="{% static 'image/logo.ico' %}" style="width: 35px; height: 35px;" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Главная"></a>

          <div class="hstack gap-2 d-flex align-items-center">

            <div class="input-group">
              <input type="text"class="form-control text-h5-custom" style="height: 35px;" placeholder="@username/материал" aria-describedby="button-addon2"  data-bs-toggle="modal" onclick="fillSearchInput('')" data-bs-target="#searchModal">
              <button class="btn btn-light d-flex align-items-center" style="height: 35px;" type="button" id="button-addon2"><img src="{% static 'image/search_icon.png' %}" data-bs-toggle="modal" data-bs-target="#searchModal" onclick="fillSearchInput('')" alt="" style="width: 20px;"></button>
            </div>

            {% if user.type_user == "Преподаватель" %}

                <div class="dropdown">

                  <button class="btn btn-light text-h5-custom dropdown-toggle d-flex align-items-center justify-content-between"  style="width: 70px; height: 35px; " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'image/plus_icon.png' %}" alt="" style="width: 15px;">
                  </button>
                  
                  <ul class="dropdown-menu mt-2" aria-labelledby="dropdownMenuButton1" style="margin-left: -55px;">
                    <li><a class="dropdown-item text-h5-custom" href="{% url 'new_material' %}">Добавить материал</a></li>
                    <li><a class="dropdown-item text-h5-custom" href="/{{user.name}}/?tab=followers">Подписки</a></li>
                    <li><a class="dropdown-item text-h5-custom" href="/{{user.name}}/?tab=following">Подписчики</a></li>

                  </ul>
                </div>
            {% endif %}

            
            <a class="navbar-brand" href="/{{ user.name }}"><img src="/media/{{ user.photo_profile }}" alt="" style="width: 35px; height: 35px; border-radius: 5px;" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Профиль"></a>

          </div>
          
        </div>
        {% if user == user_profile%}
          {% block nav-content %}{% endblock %}
        {% endif %}

      </div>
      
    </nav>


    
    <script  src="{% static 'js/base/jquery.min.js' %}"></script>
    <script src="{% static 'js/base/jquery.inputmask.min.js' %}"></script>
    <script  src="{% static 'js/profile/logic.js' %}"></script>
    <script  src="{% static 'js/profile/ajax.js' %}"></script>
    <script  src="{% static 'js/profile/draw_elements.js' %}"></script>
    {% block content %}
    {% endblock %}


    <div class="container mt-4 mb-4 animate__animated animate__fadeIn">
      <div class="hstack gap-2 d-flex align-items-center justify-content-center">
        <a href="/" style="text-decoration: none;"><img src="{% static 'image/logo.ico' %}" style="width: 25px; height: 25px;" alt=""></a>
        <h1 class="text-h6-custom mt-2 me-5">© 2024 Mironov, Inc.</h1>

        <a href="/" class="text-h6-custom" style="text-decoration: none;">Пользовательское соглашение</a>
        <a href="/" class="text-h6-custom" style="text-decoration: none;">Обратная связь</a>
      </div>
    </div>


    <div class="modal dark fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-xl modal-fullscreen-lg-down mt-1">
  
          <div class="modal-content p-3">
  
              <div class="input-group">
                  <span class="input-group-text" style="height: 35px; border: none !important;"><img src="{% static 'image/search_icon.png' %}" style="height: 15px; width: 15px;" alt=""></span>
                  <input type="text" class="form-control text-h6-custom focus-ring" id="searchInput" style="height: 35px;max-width: 100%; border: none !important; --bs-focus-ring-color: #00000000, .25;" placeholder="@username программирование-в-среде-1с" aria-describedby="button-addon2">
                  
                  <span class="input-group-text" style="height: 35px; border: none;"><button type="button" class="btn-close input-group-text focus-ring" data-bs-dismiss="modal" aria-label="Закрыть" style="width: 0.5em !important;height: 0.5em !important; --bs-focus-ring-color: #00000000, .25;"></button></span>
                </div>
  
              <h5 class="text-h6-custom m-2 mt-3" id="title_materials_search">Материалы</h5>
  
              <div class="searched_list_materials" id="searched_list_materials">
  
              </div>
  
              <h5 class="text-h6-custom m-2 mt-3" id="title_users_search">Пользователи</h5>
  
              <div class="searched_list_users" id="searched_list_users">
  
              </div>
          </div>
  
      </div>
      
  </div>
    

    <script src="{% static 'js/base/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/base/popper.min.js' %}"></script>

    

    <script>
      const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
      const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    </script>

</body>
</html>