body {
    background: rgb(235,229,255);
    background: linear-gradient(180deg, rgb(149, 255, 214) 0%, rgba(255,255,255,1) 50%, rgb(196, 175, 255) 100%);
}


body::-webkit-scrollbar { width: 0 !important }

.text-h1-custom
{
    font-weight: 500;
    font-size: 36pt;
}

.text-h2-custom
{
    font-weight: 500;
    font-size: 28pt;
}

.text-h3-custom
{
    font-weight: 500;
    font-size: 24pt;
}

.text-h4-custom
{
    font-weight: 500;
    font-size: 16pt;
}

.text-h5-custom
{
    font-weight: 500;
    font-size: 13pt;
}

.text-h5-custom-offwhite{
    font-weight: 500;
    font-size: 13pt;
    color: rgb(102, 102, 102);
}


.text-h6-custom
{
    font-weight: 500;
    font-size: 9pt;
}

.button-h5-unborders
{
    background-color: rgba(240, 248, 255, 0) !important;
    border: none;
    font-weight: 500;
    font-size: 13pt;
    text-decoration: none;
    color: var(--bs-heading-color);
}


.button-h5-unborders:hover
{
    border: none;
    color: rgb(53, 53, 53);
}

.hr-hide 
{
    border : none;
}

.hr-show 
{
    border : 0.05px solid black;
    border-color: var(--bs-heading-color) !important;
    color: var(--bs-heading-color) !important;
    background-color: var(--bs-heading-color) !important;
}

.login-image
{
    display: block !important;
}

.border-custom
{
    border: 2px solid black;
    
}


@media (max-width: 1030px) 
{
    .login-image
    {
        display: none !important;
    }

}



