<!DOCTYPE html>
<html lang="ru">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>


    <link href="{% static 'css/base/bootstrap.min.css' %}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base/animate.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>

    <div class="container-fluid d-flex align-items-center justify-content-center"  style="height: 100vh;">

        <div class="row d-flex justify-content-center" style="height: 500px;">

            <div class="col-12 col-md-6 col-lg-4 login-image">
                <img id="login_image" src="{% static 'image/login-image.png' %}" alt="" style="width: 325px;">
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="row">
                    <h1 class="text-h4-custom text-center" style="font-weight: 700;">ДОБРО ПОЖАЛОВАТЬ!</h1>
                    <p class="text-h5-custom-offwhite text-center" >Пришло время войти или зарегистрироваться.</p>
                </div>

                <div class="row  d-flex justify-content-start animate__animated animate__fadeIn" id="auth_buttons" style="display: none">
                    
                    <div class="col-2">
                        <button class="button-h5-unborders" id="login_button" onclick="showHrElement(this);">Вход
                            <hr class="hr-show animate__animated animate__fadeInDown">
                        </button>
                        
                    </div>
                    <div class="col-5">
                        <button class="button-h5-unborders" id="registration_button" onclick="showHrElement(this);">Регистрация
                            <hr class="hr-hide">
                        </button>
                        
                    </div>

                    <div class="col-5 text-right">
                        <button class="button-h5-unborders text-end" style="color: rgb(121, 121, 121);" id="reset_password_button" onclick="showHrElement(this);">Восстановить пароль
                            <hr class="hr-hide">
                        </button>


                        
                    </div>
                </div>


                <div class="row d-flex justify-content-center">


                    <div class="col-12 col-md-12 col-lg-12 animate__animated animate__fadeIn" id="reset_password_form" style="display: none;">
                        <div id="reset_message" style="display: block;">

                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label text-h5-custom">Почта</label>
                                <input type="email" name="email" class="form-control shadow animate__animated animate__fadeInDown" id="reset_email_input" placeholder="user@mail.ru">
                            </div>
                        
                        
                            <button type="button" class="btn btn-light text-h5-custom animate__animated animate__fadeInDown mb-2" onclick="sendMailResetPassword()" style="width: 100%;" id="success_reset_password_button">Восстановить
                                
                            </button>
                            <label class="form-label text-h6-custom">После нажатия кнопки на вашу почту будет отправлен уникальный код для восстановления.</label>

                            <label class="form-label text-h6-custom" id="success_password_reset" style="display: none; color: rgb(111, 255, 171);">Пароль успешно сменен!</label>

                            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="background-color: rgba(245, 245, 220, 0);">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" id="reset_progress" style="width: 100%; display: none;"></div>
                            </div>

                            
                        </div>

                        <label id="reset_message_error_not_user" class="form-label text-h6-custom" style="display: none; color: rgb(253, 0, 0);">Такого аккаунта не существует.</label>
                        
                        <div id="validation_reset_form" style="display: none;">
                            <input type="text" name="code" class="form-control text-h5-custom text-center shadow animate__animated animate__fadeInDown mb-2" id="code_reset" placeholder="000000">
                            <label id="reset_message_send" class="form-label text-h6-custom" style="display: none;">Сообщение с кодом было отправлено на вашу почту.</label>
                            <button type="button" class="btn btn-light text-h5-custom animate__animated animate__fadeInDown" onclick="verifyCodeResetPassword()"  id="validate_reset_password_button" style="width: 100%;">Подтвердить код</button>
                            <label id="not_verify_message" class="form-label text-h6-custom" style="display: none; color: rgb(253, 0, 0);">Ваш код не вверный!</label>

                        </div>

                        <div id="reset_replace_password_form" style="display: none;">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label text-h5-custom">Новый пароль</label>
                                <input type="password" class="form-control shadow animate__animated animate__fadeInDown" id="reset_password_input" placeholder="******">
                                <span id="reset_password_input_error" class="text-h6-custom " style="color: red;"></span>
                            </div>
    
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label text-h5-custom">Повтор нового пароля</label>
                                <input type="password" class="form-control shadow animate__animated animate__fadeInDown" id="reset_repeat_password_input" placeholder="******">
                                <span id="reset_match-error" class="text-h6-custom " style="color: red;"></span>

                                <label id="reset_message_send" class="form-label text-h6-custom">Измененный пароль моментально вступит в силу.</label>
                                <button type="button" class="btn btn-light text-h5-custom animate__animated animate__fadeInDown" onclick="resetPassword()"  id="replace_reset_password_button" style="width: 100%; display: none;">Изменить пароль</button>
                                <span id="reset_password_error" class="text-h6-custom " style="display: none; color: red;">Непредвиденная ошибка! Попробуйте позже.</span>
    
                            </div>
                        </div>

                    </div>


                    <div class="col-12 col-md-12 col-lg-12 animate__animated animate__fadeIn" id="login_form" style="display: block;">

                        <form name="login_form_auth" id="login_form_auth" method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="mb-3 ">
                                <label for="exampleFormControlInput1" class="form-label text-h5-custom">Почта</label>
                                <input type="email" name="username" class="form-control shadow animate__animated animate__fadeInDown" id="login_email_input" placeholder="user@mail.ru">
                            </div>

                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label text-h5-custom">Пароль</label>
                                <input type="password" name="password" class="form-control shadow animate__animated animate__fadeInDown" id="login_password_input" placeholder="*****">
                            </div>

                            <button type="submit" class="btn btn-light text-h5-custom animate__animated animate__fadeInDown" value="login" style="width: 100%;">Войти</button>
                            <span id="validation_form" class="text-h6-custom " style="color: red;"></span>
                            <span id="field_success_validation_register" class="text-h6-custom" style="color: rgb(91, 204, 76);"></span>
                        </form>
                    </div>

                    <div class="col-12 col-md-12 col-lg-12 animate__animated animate__fadeIn" id="registration_form" style="display: none;">

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label text-h5-custom">Почта</label>
                            <input type="email" class="form-control shadow animate__animated animate__fadeInDown" id="email_input" placeholder="user@mail.ru">
                            <span id="email_input_error" class="text-h6-custom " style="color: red;"></span>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label text-h5-custom">Полное имя</label>
                            <input type="fullname" class="form-control shadow animate__animated animate__fadeInDown" id="fullname_input" placeholder="Иванов Иван Иванович">
                            <span id="fullname_input_error" class="text-h6-custom " style="color: red;"></span>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label text-h5-custom">Имя пользователя</label>
                            <input type="name" class="form-control shadow animate__animated animate__fadeInDown" id="name_input" placeholder="username">
                            <span id="name_input_error" class="text-h6-custom " style="color: red;"></span>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label text-h5-custom">Пароль</label>
                            <input type="password" class="form-control shadow animate__animated animate__fadeInDown" id="password_input" placeholder="******">
                            <span id="password_input_error" class="text-h6-custom " style="color: red;"></span>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label text-h5-custom">Повтор пароля</label>
                            <input type="password" class="form-control shadow animate__animated animate__fadeInDown" id="repeat_password_input" placeholder="******">
                            <span id="match-error" class="text-h6-custom " style="color: red;"></span>

                        </div>

                    </div>

                    <div class="col-12 col-md-12 col-lg-12 animate__animated animate__fadeIn mt-3" id="registration_form_two_step" style="display: none;">

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label text-h5-custom">Кто вы?</label>

                            <div class="dropdown">

                                <button class="btn btn-light dropdown-toggle text-h5-custom animate__animated animate__fadeInDown" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%;" id="type_input">Учащийся</button>

                                <ul class="dropdown-menu text-center" style="width: 100%;">
                                  <li><a class="dropdown-item" href="#" onclick="replaceTypeInDropdown(this)">Учащийся</a></li>
                                  <li><a class="dropdown-item" href="#" onclick="replaceTypeInDropdown(this)" >Преподаватель</a></li>
                                </ul>

                            </div>

                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label text-h5-custom">Место обучения / работы</label>
                            <input type="text" class="form-control shadow animate__animated animate__fadeInDown" id="study_input" placeholder="ЮРГПУ НПИ Имени Платова">
                        </div>

                        <button type="button" class="btn btn-light text-h5-custom animate__animated animate__fadeInDown mt-3" onclick="userRegistration()" id="registration_final" style="width: 100%;">Зарегистрироваться</button>
                        <span id="field_validation_register" class="text-h6-custom" style="color: red;"></span>

                        <img src="{% static 'image/arrow_left.png' %}" onclick="registerBackStep()" style="width: 25px;" alt="">

                        
                    </div>

                    <button type="button" class="btn btn-light text-h5-custom animate__animated animate__fadeInDown" id="registration_next_button" style="display: none;">Зарегистрироваться <img src="{% static 'image/arrow_right.png' %}" alt="" style="width: 25px;"></button>
                    

                </div>




            </div>
                
            
            
        </div>

    </div>

    {% csrf_token %}

    {% if user.is_authenticated %}
        <script>
            window.location.replace("/");
        </script>
    {% endif %}

    <script>

        function getKey(key) {
          var p = window.location.search;
          p = p.match(new RegExp(key + '=([^&=]+)'));
          return p ? p[1] : false;
        }
      
        let error = getKey('info');
        let success = getKey('success');
      
        if (error){
          let validation_form = document.getElementById('validation_form');
          validation_form.textContent = 'Не верный логин или пароль!';
        }

        if (success){
          let validation_form = document.getElementById('field_success_validation_register');
          validation_form.textContent = 'Успешная регистрация!';
        }
      
      
    </script>


    <script src="{% static 'js/base/jquery.min.js' %}"></script>
    <script src="{% static 'js/base/jquery.inputmask.min.js' %}"></script>
    <script src="{% static 'js/base/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/base/popper.min.js' %}"></script>


    <script  src="{% static 'js/auth/client_validation.js' %}"></script>
    <script  src="{% static 'js/auth/animates.js' %}"></script>
    <script  src="{% static 'js/auth/register_logic.js' %}"></script>
    <script  src="{% static 'js/auth/reset_password_logic.js' %}"></script>
    


</body>
</html>