{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container d-flex align-items-center justify-content-center"  style="height: 83vh;">
    <div class="text-center">
        <h1 class="text-h2-custom">Ошибка 404</h1>
        <h2 class="text-h4-custom mt-3">Страница не найдена</h2>
        <p class="text-h5-custom">К сожалению, страница, которую вы ищете, может быть недоступна или не существует.</p>
        <p class="text-h5-custom">Вернуться на <a href="/">главную</a>.</p>
    </div>
</div>


{% endblock %}