{% extends 'base.html' %}
{% load static %}

{% block nav-content %}
<div class="container-fluid d-flex justify-content-start">
    <div class="hstack gap-3 d-flex align-items-center">

            <div>
                <a href="/{{ user.name }}" class="text-h5-custom text-dark" style="text-decoration: none;">{{ user.name }}</a>
                {% if tab == 'main' %}
                    <hr class="hr-show m-0 p-0">
                {% endif %}
            </div>

            {% if user.type_user == "Преподаватель" %}
            
                <div>
                    <a href="/{{ user.name }}?tab=stars" class="text-h5-custom text-dark" style="text-decoration: none;">Отслеживаемые</a>
                    {% if tab == 'stars' %}
                        <hr class="hr-show m-0 p-0">
                    {% endif %}
                </div>

            {% endif %}
            

    </div>
</div>
{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<script  src="{% static 'js/profile/draw_elements.js' %}"></script>


<div class="container animate__animated animate__fadeIn"  style="height: 120vh;">


    <div class="row d-flex justify-content-center">

        <div class="col-12 col-md-12 col-lg-3">
            {% if user == user_profile %}
            <div class="row">
                <input type="file" id="fileInput" accept="image/png, image/jpeg" style="display: none;">
                <label  for="fileInput" id="imagePreview">
                    <img src="/media/{{ user_profile.photo_profile }}" class="imagePreview" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover" data-bs-content="Сменить фото" alt="" style="border-radius: 10%; width: 270px; height: 270px;" >
                </label>
            </div>
            {% else %}
            <img src="/media/{{ user_profile.photo_profile }}" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover" alt="" style="border-radius: 10%; width: 270px; height: 270px;" >
            {% endif %}
            

            <div class="row mt-3 mb-3">
                <h1 class="text-h4-custom">{{ user_profile.name }}</h1>
                <h1 class="text-h5-custom">{{ user_profile.fullName }}</h1>
                <h1 class="text-h5-custom">{{ user_profile.type_user }}</h1>
                <h1 class="text-h6-custom">{{ user_profile.userPlaceOfStudy }}</h1>

            </div>
            
        
        </div>

        {% block profile_content %}
        {% endblock %}


    </div>

    

</div>


<div class="modal dark fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-xl modal-fullscreen-lg-down mt-1">

        <div class="modal-content modal-background p-3">

            <div class="input-group">
                <span class="input-group-text" style="height: 35px; border: none !important;"><img src="{% static 'image/search_icon.png' %}" style="height: 15px; width: 15px;" alt=""></span>
                <input type="text" class="form-control text-h6-custom" id="searchInput" style="height: 35px;max-width: 100%; border: none !important;" placeholder="Поиск документа.." aria-describedby="button-addon2">
              </div>


            <hr>

            
        </div>

    </div>
            
    
</div>

<script  src="{% static 'js/base/jquery.min.js' %}"></script>
<script  src="{% static 'js/profile/ajax.js' %}"></script>
<script  src="{% static 'js/profile/logic.js' %}"></script>

<script>
    drawMarkMaterials(JSON.parse('{{ marks|safe }}'));
    
</script>

{% if user == user_profile %}
    <script>fillFilterList('{{user.name}}', '{{tab}}');</script>
{% else %}
    <script>fillFilterList('{{user_profile.name}}', '{{tab}}');</script>
{% endif %}


{% if user != user_profile %}
<script>

    function getKey(key) {
      var p = window.location.search;
      p = p.match(new RegExp(key + '=([^&=]+)'));
      return p ? p[1] : false;
    }
  
    let tab = getKey('tab');
  
    if (tab){
        location.replace("/{{ user_profile.name }}");
    }
  
</script>
{% endif %}



{% endblock %}