{% extends 'profile/profile.html' %}
{% load static %}

{% block profile_content %}

{% if tab == 'settings' %}
<div class="col-12 col-md-12 col-lg-9">

    <h4 class="text-h5-custom">Основная информация</h4>
    <!--h4 class="text-h6-custom p-2">Начните ввод для принятие изменений</h4-->

    <div class="vstack gap-3 p-2">
        <div class="d-lg-flex flex-row gap-2">
            <div class="mb-3 vstack" style="width: 100%;">
                <label for="exampleFormControlInput1" class="form-label text-h5-custom">Почта</label>
                <input type="email" class="form-control shadow animate__animated animate__fadeInDown" value="{{user.email}}" id="email_input" placeholder="user@mail.ru">
                <span id="email_input_error" class="text-h6-custom p-2" style="color: red;"></span>
            </div>
        
            <div class="mb-3 vstack" style="width: 100%;">
                <label for="exampleFormControlInput1" class="form-label text-h5-custom">Полное имя</label>
                <input type="fullname" class="form-control shadow animate__animated animate__fadeInDown" value="{{user.fullName}}" id="fullname_input" placeholder="Иванов Иван Иванович">
                <span id="fullname_input_error" class="text-h6-custom p-2" style="color: red;"></span>
            </div>
        </div>

        <div class="d-lg-flex flex-row gap-2">

            <div class="mb-3 vstack" style="width: 100%;">
                <label for="exampleFormControlInput1" class="form-label text-h5-custom">Имя пользователя</label>
                <input type="name" class="form-control shadow animate__animated animate__fadeInDown" value="{{user.name}}" id="name_input" placeholder="username">
                <label class="form-label text-h6-custom">Уникальное имя пользователя по которому можно вас найти.</label>
                <span id="name_input_error" class="text-h6-custom p-2" style="color: red;"></span>
            </div>
        
            <div class="mb-3 vstack" style="width: 100%;">
                <label for="exampleFormControlInput1" class="form-label text-h5-custom">Место обучения / работы</label>
                <input type="text" class="form-control shadow animate__animated animate__fadeInDown" value="{{user.userPlaceOfStudy}}" id="study_input" placeholder="ЮРГПУ НПИ Имени Платова">
                <label class="form-label text-h6-custom p-2">Ваше место обучения.</label>

            </div>
        </div>

        <button type="button" class="btn btn-success animate__animated animate__fadeInDown" style="width: 150px; display: block;" id="edit_info_button" onclick="editInformationUser()">Сохранить</button>
        <span id="field_validation_register" class="text-h6-custom p-2" style="color: red;"></span>
    </div>

    <hr class="p-2">

    <h4 class="text-h5-custom">Смена пароля</h4>
    <div class="vstack gap-3 p-2">
        <div class="d-lg-flex flex-row gap-2">
            <div class="mb-3 vstack" style="width: 100%;">
                <label for="exampleFormControlInput1" class="form-label text-h5-custom">Старый пароль</label>
                <input type="password" class="form-control shadow animate__animated animate__fadeInDown" id="old_password_input" placeholder="******">
            </div>

            <div class="mb-3 vstack" style="width: 100%;">
                <label for="exampleFormControlInput1" class="form-label text-h5-custom">Новый пароль</label>
                <input type="password" class="form-control shadow animate__animated animate__fadeInDown" id="new_password_input" placeholder="******">
                <span id="match-error" class="text-h6-custom p-2" style="color: red;"></span>
            </div>
        </div>

        <button type="button" class="btn btn-success animate__animated animate__fadeInDown" style="width: 150px; display: block;" id="edit_password_button">Изменить</button>
        <span id="field_validation_edit_password" class="text-h6-custom p-2" style="color: red;"></span>
    </div>


    

    
</div>

<script src="{% static 'js/profile/client_validation.js' %}"></script>
{% elif tab == 'following' %}
    <div class="col-12 col-md-12 col-lg-9">
        <h5 class="text-h4-custom m-3 mt-0">Подписчики</h5>
        {% for follow in follows %}
        <div class="hstack gap-3 m-3 mt-4">
            <a href="/{{follow.owner.name}}"><img src="/media/{{follow.owner.photo_profile}}" style="width: 60px;height: 60px; border-radius: 15px;" alt=""></a>

            <div class="vstack gap-1">
                <a href="/{{follow.owner.name}}" class="text-h5-custom text-success" style="text-decoration: none;">{{follow.owner.name}}</a>
                <h5 class="text-h6-custom">{{follow.owner.userPlaceOfStudy}}</h5>
            </div>
        </div>
        <hr class="m-3">
        {% endfor %}

        {% if follows|length == 0 %}
            {% for _ in "123"|slice:":3" %}
            <div class="col-12 col-lg-12 ">

                <div class="row d-flex justify-content-center m-3 mt-0">
                    <div class="col-3" style="width: 100px;">
                        <div class="sub-rect pure-background animated-background" ></div>
                    </div>
                    <div class="col-9 animated-background">
                    </div>
                </div>

                <hr class="m-3">

            </div>
            {% endfor %}

            <div class="row d-flex justify-content-center">
                <h1 class="text-h6-custom text-center">Пока нет подписчиков</h1>
            </div>
        {% endif %}

    </div>
{% elif  tab == 'followers' %}
    <div class="col-12 col-md-12 col-lg-9">
        <h5 class="text-h4-custom m-3 mt-0">Подписки</h5>
        {% for follow in follows %}
        <div class="hstack gap-3 m-3 mt-4">
            <a href="/{{follow.followingUser.name}}"><img src="/media/{{follow.followingUser.photo_profile}}" style="width: 60px;height: 60px; border-radius: 15px;" alt=""></a>

            <div class="vstack gap-1">
                <a href="/{{follow.followingUser.name}}" class="text-h5-custom text-success" style="text-decoration: none;">{{follow.followingUser.name}}</a>
                <h5 class="text-h6-custom">{{follow.followingUser.userPlaceOfStudy}}</h5>
            </div>
        </div>
        <hr class="m-3">
        {% endfor %}

        {% if follows|length == 0 %}
            {% for _ in "123"|slice:":3" %}
            <div class="col-12 col-lg-12 ">

                <div class="row d-flex justify-content-center m-3 mt-0">
                    <div class="col-3" style="width: 100px;">
                        <div class="sub-rect pure-background animated-background" ></div>
                    </div>
                    <div class="col-9 animated-background">
                    </div>
                </div>

                <hr class="m-3">

            </div>
            {% endfor %}

            <div class="row d-flex justify-content-center">
                <h1 class="text-h6-custom text-center">Пока нет подписок</h1>
            </div>
        {% endif %}
    </div>
{% else %}
    <div class="col-12 col-md-12 col-lg-9">
        
        <div class="hstack gap-2 d-flex align-items-center">
            
            
            <input type="text"class="form-control text-h5-custom " style="height: 35px;" placeholder="Поиск документа.." aria-describedby="button-addon2" data-bs-toggle="modal" data-bs-target="#searchModal" onclick="fillSearchInput('{{user_profile.name}}')">

            <div class="dropdown">

                <button class="btn btn-light text-h5-custom dropdown-toggle d-flex justify-content-center align-items-center justify-content-between" style="width: 70px; height: 35px;" title="Поиск по фильтру"  type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'image/filter_icon_black.png' %}" alt="" style="width: 15px;">
                </button>
                
                <ul class="dropdown-menu mt-2" aria-labelledby="dropdownMenuButton2" id="filter_list">
                    
                </ul>
            </div>

            {% if user_profile == user and user.type_user == "Преподаватель" and tab == "main" %}
            <a href="{% url 'new_material' %}" class="btn btn-success text-h5-custom dropdown-toggle d-flex align-items-center justify-content-between"  style="width: 70px; height: 35px; border-top-right-radius: 15px;" type="button">
                <img src="{% static 'image/white_plus_icon.png' %}" alt="" style="width: 15px;">
            </a>
            {% endif %}

        </div>

        <hr>

        <div class="row">
            {% include 'profile/materials_example.html' %}
        </div>
        
        
    </div>

    <script>
        drawMarkMaterials(JSON.parse('{{ marks|safe }}'));
    </script>

    {% if user == user_profile %}
        <script>fillFilterList('{{user.name}}', '{{tab}}');</script>
    {% else %}
        <script>fillFilterList('{{user_profile.name}}', '{{tab}}');</script>
    {% endif %}

    {% endif %}

{% endblock %}